<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="cantilever_ladder">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-5.3082E-05 -0.69173 1.4352"
        rpy="0 0 0" />
      <mass
        value="11.185" />
      <inertia
        ixx="5.4078"
        ixy="1.0682E-06"
        ixz="0.0056612"
        iyy="3.8418"
        iyz="2.0596"
        izz="1.7678" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 -2.16" />
      <geometry>
        <mesh
          filename="package://hangar_model/obstacles/cantilever_ladder/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hangar_model/obstacles/cantilever_ladder/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
