<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="forklift">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00065517 0.35906 0.50258"
        rpy="0 0 0" />
      <mass
        value="3529.9" />
      <inertia
        ixx="1976.3"
        ixy="8.9105"
        ixz="0.78994"
        iyy="721.06"
        iyz="-212.09"
        izz="2068.4" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0.94" />
      <geometry>
        <mesh
          filename="package://hangar_model/obstacles/forklift/meshes/forklift.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hangar_model/obstacles/forklift/meshes/forklift.dae" />
      </geometry>
    </collision>
  </link>
</robot>
