<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="cone">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0083035 0.01367 0.2302"
        rpy="0 0 0" />
      <mass
        value="3.491" />
      <inertia
        ixx="0.24359"
        ixy="-1.0736E-06"
        ixz="-1.0597E-06"
        iyy="0.24358"
        iyz="-6.214E-06"
        izz="0.1227" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hangar_model/obstacles/cone/meshes/cone.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hangar_model/obstacles/cone/meshes/cone.dae" />
      </geometry>
    </collision>
  </link>
</robot>
