<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="baggage_trolley">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.042967 -0.10679 0.16566"
        rpy="0 0 0" />
      <mass
        value="110.83" />
      <inertia
        ixx="15.829"
        ixy="-0.00032147"
        ixz="-5.049E-05"
        iyy="6.5268"
        iyz="-0.0064822"
        izz="16.326" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 -1.34" />
      <geometry>
        <mesh
          filename="package://hangar_model/obstacles/baggage_trolley/meshes/baggage_trolley.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hangar_model/obstacles/baggage_trolley/meshes/baggage_trolley.dae" />
      </geometry>
    </collision>
  </link>
</robot>
